<h1>Photos#show</h1>
<p>Find me in app/views/photos/show.html.erb</p>
<%= image_tag(@photo.image.url(:large))%>
<br>
<br>
<strong>view comments</strong>
<% if @photo.comments.any?%>
<ul>
  <%= @photo.comments do |comment|%>
    <li><%= comment.comment%></li>
  <%end%>
</ul>
<% else %>
<br>
<br>
<br>
<strong>No comments available</strong>
<% end %>
 <% link_to 'Add comment', new_photo_comment_path(photo)%>
